[submodule "quickswitch-for-i3"]
	path = quickswitch-for-i3
	url = git@github.com:OliverUv/quickswitch-for-i3.git
[submodule "i3-easyfocus"]
	path = i3-easyfocus
	url = git@github.com:cornerman/i3-easyfocus.git
