[submodule "quickswitch-for-i3"]
	path = quickswitch-for-i3
	url = https://github.com/OliverUv/quickswitch-for-i3.git
[submodule "i3-easyfocus"]
	path = i3-easyfocus
	url = https://github.com/cornerman/i3-easyfocus.git
